* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*:not(#credit){
  font-family: 'Yusei Magic', sans-serif;
}

/* colore di sondo */
body {
  background-color: #d0f8ff;
}

/* impostazione titolo */
h1 {
  padding: 2% 43%;
  padding-bottom: 10px;
  font-size: 60px;
}

#credit {
  position: relative;
  left: 90%;
}

/* allineamento container */
.container {
  position: relative;
  height: 625px;
  width: 75%;
  margin: 0 auto;
}

/* 1impostazione righe */
.container > div {
  z-index: 2;
  position: relative;
  margin-bottom: 15px;
  height: 200px;
}

/* settaggio generico carte */
.card {
  display: inline-block;
  height: 180px;
  width: 170px;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
}
.righe div:first-child {
  margin-left: 17%;
}
.card:not(.girata) {
  background-image: url(../img/pattern.png);
  background-size: 115%;
  background-repeat: repeat;
}

.girata {
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: 87%;
  background-repeat: no-repeat;
}
.girata > span {
  position: absolute;
  bottom: 14px;
  left: 630px;
  font-size: 30px;
}
